<div class="row">

  <div class="col-8">
    <div class="editor">
      <app-curve-editor
        [duration]="duration"
        [maxRps]="form.get('maxRps').value"
        [form]="curveForm"
        [interval]="interval"
        (formEmitter)="handleCurveForm($event)"
        [id]="id"
      ></app-curve-editor>
    </div>
  </div>

  <div class="col-4">
    <div class="card">

      <div class="card-header">
        Config
        <div class="buttons float-right">
          <button (click)="reset()" type="submit" class="btn btn-sm btn-primary mr-3">Reset</button>
          <button (click)="remove()" type="submit" class="btn btn-sm btn-danger">Remove</button>
        </div>
      </div>

      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <app-service-selection
              [form]="form"
              [services]="services"
            ></app-service-selection>
          </div>

          <app-text-input
            [form]="form"
            controlName="numberOfClients"
            [isNumber]="true"
            name="Clients">
          </app-text-input>

          <app-text-input
            [form]="form"
            controlName="maxRps"
            isNumber="true"
            name="Max RPS">
          </app-text-input>

          <div class="form-group">
            <div class="input-group">
              <label class="input-group-text" for="arrivalPatternSelect">Inter-arrival Distribution</label>
              <select
                [ngClass]="{'is-invalid': !form.get('arrivalPattern').value || form.get('arrivalPattern').value == ''}"
                id="arrivalPatternSelect" class="custom-select" required formControlName="arrivalPattern">
                <option *ngFor="let pattern of arrivalPatterns" [ngValue]="pattern">{{pattern}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>
